@keyframes spin {
    from{
              transform: rotateY(0deg);
    } to{
              transform: rotateY(360deg);
    }
}
@keyframes spinRevert {
    from{
              transform: rotateY(360deg);
    } to{
              transform: rotateY(0deg);
    }
}


